/* ----------------------------------------------------------------------------- */
/* FONT DECLARATIONS                                                             */
/* ----------------------------------------------------------------------------- */

/* Icons */
@font-face {
  font-family: 'trilium-allure-icons';
  src: url('/custom/fonts/Allure-Icons.woff2') format('woff2');
  src: url('/custom/fonts/Allure-Icons.woff') format('woff');
  src: url('/custom/fonts/Allure-Icons.ttf') format('truetype');
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/FiraMono-Regular.woff') format('woff');
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/FiraCode-Bold.woff2') format('woff2');
}

/* Roboto-slab */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/roboto-slab-v11-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/roboto-slab-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/roboto-slab-v11-latin-600.woff') format('woff');
}


html {
/* ----------------------------------------------------------------------------- */
/* COLOR VARIABLES                                                               */
/* ----------------------------------------------------------------------------- */

    --color-gray-lighter : #F3F3F3;
    --color-gray-light   : #DADCDB;
    --color-gray         : #8e8787;
    --color-gray-dark    : #666;
    --color-gray-darker  : #525051;
    --color-gray-darkest : #393939;
    --color-blue         : #526DE9;
    --color-white        : #FFF;
    --color-red          : #FF5252;
    --color-black-light  : #282828;
    --color-black        : #1E1E1E;

    --color-dialog-translucent     : rgb(126,126,126, 0.5);
    --color-background-translucent : rgb(126,126,126, 0.1);


    /* ------------------- Fixed variable ------------------ */
    --color-text-danger          : var(--color-red);
    --color-text-highlight       : var(--color-blue);

    /* ------------------ Default mode start ------------- */
    --color-text-accent          : var(--color-gray-darkest);
    --color-text-primary         : var(--color-gray-darker);
    --color-text-secondary       : var(--color-gray);
    --color-text-inconspicuous   : var(--color-gray-light);

    --color-background-primary   : var(--color-gray-lighter);
    --color-background-secondary : var(--color-white);
    --color-background-accent    : var(--color-gray-light);
    --color-background-item      : var(--color-gray-lighter);

    --color-button-primary       : var(--color-gray-lighter);
    --color-button-accent        : var(--color-gray-light);
    --color-button-hover-center  : var(--color-gray-lighter);
    /* ------------------- Default mode end -------------- */



    /* ------------------ Night mode start --------------- */
    /*--color-text-accent          : var(--color-gray-lighter);
    --color-text-primary         : var(--color-gray-light);
    --color-text-secondary       : var(--color-gray);
    --color-text-inconspicuous   : var(--color-gray-dark);

    --color-background-primary   : var(--color-black);
    --color-background-secondary : var(--color-black-light);
    --color-background-accent    : var(--color-gray-darkest);
    --color-background-item      : var(--color-gray-darkest);

    --color-button-primary       : var(--color-gray-darker);
    --color-button-accent        : var(--color-gray-dark);
    --color-button-hover-center  : var(--color-black-light);*/
    /* ------------------- Night mode end ---------------- */


    /* ------------------- Alternate variable ------------------ */
    --color-background-highlight : var(--color-text-highlight);
    --color-button-highlight     : var(--color-text-highlight);
    --color-button-disabled      : var(--color-background-accent);

/* ----------------------------------------------------------------------------- */
/* BORDER VARIABLES                                                              */
/* ----------------------------------------------------------------------------- */

    --border-radius-standard : 3px;
    --border-radius-large    : 12px;

    --border-standard      : 1px solid var(--color-button-accent);
    --border-light         : 1px solid var(--color-background-accent);
    --border-transparent   : 1px solid transparent;
    --border-accent        : 2px solid var(--color-button-accent);
    --border-accent-alt    : 2px solid var(--color-background-primary);
    --border-option        : 2px solid var(--color-text-inconspicuous);
    --border-option-active : 2px solid var(--color-text-highlight);
    --border-link          : 1px dashed var(--color-text-secondary);

    --shadow-card          : 0px 0px 18px -8px var(--color-background-accent);
    --shadow-mobile        : 0px 0px 12px  0px var(--color-text-inconspicuous);
    --shadow-standard      : 3px 4px  3px -3px var(--color-background-accent);
    --shadow-accented      : 2px 2px  5px -2px var(--color-gray-dark);
    --shadow-mobile-popup  : 0px 0px 16px  0px var(--color-background-accent);


/* ----------------------------------------------------------------------------- */
/* FONT VARIABLES                                                                */
/* ----------------------------------------------------------------------------- */

    --font-headers : 'Open Sans', Noto Sans CJK SC, 'Source Sans Pro', 'Liberation Sans', Helvetica Neue, Microsoft YaHei, Sans-serif;
    --font-body    : 'Open Sans', Noto Sans CJK SC, 'Source Sans Pro', 'Liberation Sans', Helvetica Neue, Microsoft YaHei, Sans-serif;
    --font-code    : 'Fira Code', 'Source Code Pro', Courier, Monospace;

/* ----------------------------------------------------------------------------- */
/* LAYOUT VARIABLES                                                                */
/* ----------------------------------------------------------------------------- */

    /* Use larger spacing to separate paragraphs */
    --spacing-content-small  : .4em;
    --spacing-content-normal : .8em;
    --spacing-content-large  : 1.8em;
    --spacing-center-pane    : 52px;

    --width-note-body        : 680px;
    --width-left-button-pane : 50px;

    --height-top-bar         : 33px;

    /* Use a larger size for the frequently used buttons on the left */
    --size-left-pane-button  : 1.2em;
}

/*---------------------------------------------------------------*/
/* LAYOUT                                                        */
/*---------------------------------------------------------------*/

/* LAYOUT - Fonts */
body {
    color: var(--color-text-primary);
    line-height: 1.6em;
}

/* LAYOUT - Icons */
body .trilium-allure-icons {
    font-family: "trilium-allure-icons" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* LAYOUT - Scrollbar */
body ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}
body ::-webkit-scrollbar-track {
    background-color: unset;
    border: solid 4px transparent;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px var(--color-button-accent);
    border: solid 4px transparent;
    background: unset;
}
body ::-webkit-scrollbar-thumb:hover {
    border: solid 2px transparent;
}

/* LAYOUT - Button */
body .icon-action {
    border: none
}
body .icon-action:hover:not(.disabled) {
    background: var(--color-background-primary);
}

/* LAYOUT - Note Icon */
body .note-icon-widget,
body .fancytree-custom-icon {
    display: none;
}

/* LAYOUT - Title Bar Button */
/*body .title-bar-buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    z-index: 999;
}
body .title-bar-buttons button {
    font-size: .9rem;
    background: var(--color-button-accent) !important;
    padding: 0 !important;
    border-radius: 12px;
    margin: 2px;
    color: var(--color-button-accent) !important;
}
body .title-bar-buttons button:hover {
    border: none !important;
    color: var(--color-text-primary) !important;
    background: var(--color-button-accent) !important;
}
body .title-bar-buttons button:before {
    font-family: 'trilium-allure-icons';
}
body .title-bar-buttons button.minimize-btn:before {
    content: '\e9c0';
}
body .title-bar-buttons button.maximize-btn:before {
    content: '\e9bc';
}
body .title-bar-buttons button.close-btn:before {
    content: '\e9bb';
}*/

/* LINK */
body a,
body a:visited,
body a:hover,
body .note-detail a,
body .modal-dialog a {
    color: var(--color-text-primary);
    text-decoration: none;
    word-break: break-all;
}
/* Hide the help link and the icon after a link */
body a:after,
body a.external:not(.page-url) {
    display: none;
}


/* GUTTER */
body .gutter.gutter-horizontal {
    background: unset;
}


/* WINDOWS BUTTON */
body .title-bar-buttons {
    margin-top: 4px;
    margin-right: 12px;
}
body .title-bar-buttons div {
    width: unset;
    height: unset;
    margin: 4px;
}
body .title-bar-buttons div button.icon-action {
    background: var(--color-background-accent) !important;
    border-radius: 20px;
    height: unset;
    width: unset;
    font-size: 1em;
    padding: 1px;
    color: var(--color-background-accent);
}
body .title-bar-buttons div button.icon-action:hover {
    color: var(--color-text-primary);
}



/*---------------------------------------------------------------*/
/* POPUP                                                         */
/*---------------------------------------------------------------*/

/* POPUP - Tooltip */
body .tooltip {
    display: none;
}




/*---------------------------------------------------------------*/
/* LAUNCHER PANEL                                                */
/*---------------------------------------------------------------*/

/* icon */
body #launcher-pane .icon-action {
    font-size: 1.2em;
    color: var(--color-text-primary);
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 2px 8px;
}

/* hide button */
body #launcher-pane .bx-search,
body #launcher-pane .bx-send,
body #launcher-pane .bx-map-alt {
    display: none;
}

/* add note */
body #launcher-pane .bx-file-blank:before {
    content: "\e622";
    font-family: "trilium-allure-icons";
}

/* history */
body #launcher-pane .bx-history:before {
    content: "\f1e2";
    font-family: "trilium-allure-icons";
}

/* calander */
body #launcher-pane .bx-calendar:before {
    content: "\e745";
    font-family: "trilium-allure-icons";
}

/*---------------------------------------------------------------*/
/* LEFT PANEL                                                    */
/*---------------------------------------------------------------*/

body #left-pane {
    color: var(--color-text-primary);
}
body .fancytree-active,
body .fancytree-active.fancytree-selected,
body .fancytree-node,
body .tree .fancytree-node:hover {
    border: none;
    border-radius: var(--border-radius-standard) 0 0 var(--border-radius-standard) !important;
}

/* icon */
body .fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    font-size: inherit;
}

body .tree-item-button,
body .fancytree-node:hover .bx.tree-item-button {
    display: none;
}

/* hover */
body .tree .fancytree-node:hover {
    background: var(--color-background-accent);
}


/* NOTE LIST */

body .tree {
    padding-right: 12px;
}
body .fancytree-node {
    padding: 2px 12px;
}

/* title */
body .fancytree-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2px;
}

/* expander */
body .fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    content: "\e64b";
    font-family: 'trilium-allure-icons' !important;
}
body .fancytree-node.fancytree-expanded .fancytree-expander:before {
    font-family: 'trilium-allure-icons' !important;
    content: "\e64c";
}

/* tree button */
body button.tree-floating-button {
    display: none;
}





/*---------------------------------------------------------------*/
/* RIGHT PANEL                                                   */
/*---------------------------------------------------------------*/

body #rest-pane > .component:first-child {
    height: 64px !important;
}

/* Tabs */
body .tab-row-widget {
    margin: 16px 20px;
}
body .tab-row-widget .note-tab .note-tab-title {
    font-size: .9em;
}
body .tab-row-widget .note-tab .note-tab-wrapper {
    border-radius: 30px;
    height: 32px;
}
body .tab-row-widget .note-tab[active] .note-tab-wrapper {
    font-weight: normal;
}
/* Tabs - note tab close button */
body .tab-row-widget .note-tab .note-tab-close span {
    top: -8px;
    right: 6px;
}

/* Layout */
body #center-pane {
    margin-top: 16px;
}

/* Note Details - title */
body .title-row .note-title-widget {
    margin-left: 20px;
    /*display: inline-block;
    height: unset;*/
}

/* Note Details - operation bar */
body .ribbon-tab-title .bx,
body .ribbon-button-container .icon-action {
    font-size: 1.2em;
    color: var(--color-text-secondary);
    padding: 2px;
}
body .ribbon-button-container .icon-action.bx-history,
body .ribbon-button-container .icon-action.bx-edit-alt {
    padding: 8px;
}
body .ribbon-button-container .note-actions,
body .ribbon-button-container .icon-action.bx-history {
    margin: 0;
}
body .ribbon-tab-spacer {
    display: none;
}
/* Note Details - operation bar      */
/*     - hide similar notes button   */
/*     - hide note path button       */
body .ribbon-tab-title[data-ribbon-component-name="similarNotes"],
body .ribbon-tab-title[data-ribbon-component-name="notePaths"],
body .ribbon-tab-spacer:nth-of-type(8),
body .ribbon-tab-spacer:nth-of-type(12) {
    display: none;
}
/* Note Details - operation bar - hide border */
body .ribbon-tab-title,
body .ribbon-tab-spacer,
body .ribbon-button-container {
    border: none;
}
body .ribbon-tab-title {
    padding: 1px 5px 3px 5px;
    box-sizing: border-box;
    border-top: 2px solid transparent;
}
body .ribbon-tab-title:hover {
    color: var(--main-text-color);
    background: var(--color-background-primary);
}

body .ribbon-tab-container {
    justify-content: left;
}

/* Note Details - operation bar */
/*     - hide note id           */
/*     - hide note type         */
body .note-info-widget-table tr > th:first-of-type,
body .note-info-widget-table tr > td:first-of-type {
    display: none;
}

/* Note Details - operation bar                */
/*     - hide map link type switcher button    */
/*     - hide attrs' title when it is activing */
body .map-type-switcher,
body .ribbon-tab-title.active .ribbon-tab-title-label {
    display: none;
}

/* actived ribbon tab */
body .ribbon-tab-title.active {
    border-bottom: none;
    border-top: var(--border-option-active);
    background: var(--color-background-primary);
}
body .ribbon-tab-title.active .ribbon-tab-title-icon {
    color: var(--color-text-highlight);
}
body .ribbon-body.active {
    position: absolute;
    background: var(--color-background-secondary);
    max-width: 600px;
    border: var(--border-light);
    border-radius: var(--border-radius-standard);
    box-shadow: 3px 6px 12px #d7d7d760;
    /*margin-top: 12px;*/
    z-index: 9;
    min-width: var(--width-note-body);
}

/* link map dialog */
body .bx-arrow-to-bottom,
body .bx-arrow-to-top {
    font-size: 1em;
    color: var(--color-text-primary);
}
body .bx-arrow-to-bottom:before {
    content: "\e64e";
    font-family: 'trilium-allure-icons';
}
body .bx-arrow-to-top:before {
    content: "\e607";
    font-family: 'trilium-allure-icons';
}

/* note body */
body .ribbon-container,
body .title-row,
body .split-note-container-widget > .component > .component {
    max-width: var(--width-note-body);
}
body .split-note-container-widget > .component {
    overflow: visible;
}


/* blockquote */
body .ck-content blockquote {
    border: none;
    background: var(--color-background-primary);
    padding: 1.2em 1.6em;
    font-style: normal;
    border-radius: var(--border-radius-standard);
}

/* include note */
body .include-note {
    display: block;
    border-radius: var(--border-radius-standard);
    background-color: var(--color-background-secondary);
    border: var(--border-light);
    padding: 16px 20px;
}

/* rendered note */
body .note-book-card {
    border-radius: 3px;
    background: var(--color-background-secondary);
    padding: 16px 20px;
}
body .note-list.grid-view .note-book-card {
    border: var(--border-light);
}
body .note-book-title .note-icon {
    display: none;
}
body .note-book-title .rendered-note-attributes {
    display: block;
    font-size: small;
    position: absolute;
    bottom: 8px;
    background: var(--color-background-primary);
    padding: 8px 16px;
    left: 10px;
    border: var(--border-light);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: calc(100% - 25px);
}
body .note-book-title .rendered-note-attributes:before {
    content: none;
}



/*body #center-pane > .component:first-of-type > .component:last-of-type > * {
    max-width: var(--width-note-body);
    margin: 12px auto;
    overflow: hidden;
    contain: content;
}*/
/*body .split-note-container-widget > .component:last-of-type {
    display: block !important;
    overflow: auto;
}*/




/* ------------------------- need more testing ------------------------- */

/* Note Details - others */
body .note-detail .ck-content p {
    line-height: 2em;
    margin: 1.6em 0;
}
body .note-detail .ck-content p:last-child {
    margin-bottom: 0;
}
body .note-detail .ck-content p:first-child {
    margin-top: 0;
}

/* set overflow */
body .split-note-container-widget > .component > .component:nth-of-type(4),
body .split-note-container-widget > .component > .component:nth-of-type(5) {
    /*overflow: hidden !important;*/
}
body .split-note-container-widget > .component > .component:nth-of-type(4) > .component:last-child,
body .split-note-container-widget > .component > .component:nth-of-type(5) > .component:last-child {
    /*overflow: auto;*/
}
