/* ----------------------------------------------------------------------------- */
/* FONT DECLARATIONS                                                             */
/* ----------------------------------------------------------------------------- */

/* Icons */
@font-face {
  font-family: 'trilium-allure-icons';
  src: url('/custom/fonts/Allure-Icons.woff2') format('woff2');
}

/* Open Sans */
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/Monaco.ttf') format('ttf');
}
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/Monaco.ttf') format('ttf');
}


html {
/* ----------------------------------------------------------------------------- */
/* COLOR VARIABLES                                                               */
/* ----------------------------------------------------------------------------- */

    --color-gray-lighter            : #F4F4F4;
    --color-gray-light              : #DADCDB;
    --color-gray                    : #8e8787;
    --color-gray-dark               : #666;
    --color-gray-darker             : #525051;
    --color-gray-darkest            : #393939;
    --color-white                   : #FFF;
    --color-black-light             : #262626;
    --color-black                   : #161616;

    --color-dialog-translucent      : rgb(126,126,126, 0.5);
    --color-background-translucent  : rgb(126,126,126, 0.1);

    /* ------------------ Default mode start ------------- */
    --code-orange                   : #FF6F00;
    --code-red                      : #FF2D55;
    --code-blue                     : #007AFF;
    --code-blue-dark                : #344CB7;
    --code-gray                     : #8E8E93;
    --code-green                    : #34C759;
    --code-green-dark               : #00909E;
    --code-purple                   : #721FC7;
    --code-purple-dark              : #6A097D;
    --code-pink                     : #D42F4D;

    --color-text-accent             : var(--color-gray-darkest);
    --color-text-primary            : var(--color-gray-darker);
    --color-text-secondary          : var(--color-gray);
    --color-text-inconspicuous      : var(--color-gray-light);
    --color-text-item-active        : var(--color-gray-darker);

    --color-background-primary      : var(--color-gray-lighter);
    --color-background-secondary    : var(--color-white);
    --color-background-accent       : var(--color-gray-light);
    --color-background-item         : var(--color-gray-lighter);
    --color-background-item-active  : var(--color-gray-light);
    --color-background-popup-header : var(--color-gray-lighter);
    --color-background-popup-body   : var(--color-white);
    --color-background-menu         : var(--color-white);

    --color-button-primary          : var(--color-gray-lighter);
    --color-button-accent           : var(--color-gray-light);
    --color-button-hover-center     : var(--color-gray-lighter);

    --more-accented-background-color: #ddd;

    /* ------------------- Default mode end -------------- */



    /* ------------------ Night mode start --------------- */
    --code-orange                   : #FF9F0A;
    --code-red                      : #FF453A;
    --code-blue                     : #00A4FF;
    --code-blue-dark                : #2666CF;
    --code-gray                     : #98989D;
    --code-green                    : #30D158;
    --code-green-dark               : #519872;
    --code-purple                   : #AE81FF;
    --code-purple-dark              : #892CDC;
    --code-pink                     : #F55988;

    --color-text-accent             : var(--color-gray-lighter);
    --color-text-primary            : var(--color-gray-light);
    --color-text-secondary          : var(--color-gray);
    --color-text-inconspicuous      : var(--color-gray-dark);
    --color-text-item-active        : var(--color-black);

    --color-background-primary      : var(--color-black);
    --color-background-secondary    : var(--color-black-light);
    --color-background-accent       : var(--color-gray-darkest);
    --color-background-item         : var(--color-gray-darkest);
    --color-background-item-active  : var(--color-gray-dark);
    --color-background-popup-header : var(--color-gray-darkest);
    --color-background-popup-body   : var(--color-black);
    --color-background-menu         : var(--color-gray-darkest);

    --color-button-primary          : var(--color-gray-darker);
    --color-button-accent           : var(--color-gray-dark);
    --color-button-hover-center     : var(--color-black-light);

    --more-accented-background-color: #333;
    /* ------------------- Night mode end ---------------- */


    /* ------------------- Fixed variable ------------------ */
    --color-text-danger             : var(--code-red);
    --color-text-highlight          : var(--code-blue);


    /* ------------------- Alternate variable ------------------ */
    --color-background-highlight    : var(--color-text-highlight);
    --color-button-highlight        : var(--color-text-highlight);
    --color-button-disabled         : var(--color-background-accent);

/* ----------------------------------------------------------------------------- */
/* BORDER VARIABLES                                                              */
/* ----------------------------------------------------------------------------- */

    --border-radius-standard        : 3px;
    --border-radius-large           : 12px;

    --border-standard               : 1px solid var(--color-button-accent);
    --border-light                  : 1px solid var(--color-background-accent);
    --border-transparent            : 1px solid transparent;
    --border-accent                 : 2px solid var(--color-button-accent);
    --border-accent-alt             : 2px solid var(--color-background-primary);
    --border-option                 : 2px solid var(--color-text-inconspicuous);
    --border-option-active          : 2px solid var(--color-text-highlight);
    --border-dashed                 : 1px dashed var(--color-text-secondary);

    --shadow-card                   : 0px 0px 18px -8px var(--color-background-accent);
    --shadow-mobile                 : 0px 0px 12px  0px var(--color-text-inconspicuous);
    --shadow-standard               : 0px 1px 6px -1px var(--color-background-accent);
    --shadow-accented               : 2px 2px  5px -2px var(--color-gray-dark);
    --shadow-mobile-popup           : 0px 0px 16px  0px var(--color-background-accent);


/* ----------------------------------------------------------------------------- */
/* FONT VARIABLES                                                                */
/* ----------------------------------------------------------------------------- */

    --font-headers                  : Monaco, Noto Sans CJK SC, 'Source Sans Pro', 'Liberation Sans', Helvetica Neue, Microsoft YaHei, Sans-serif;
    --font-body                     : var(--font-headers);
    --font-code                     : Monaco, 'Fira Code', 'Source Code Pro', Courier, Monospace;

/* ----------------------------------------------------------------------------- */
/* LAYOUT VARIABLES                                                                */
/* ----------------------------------------------------------------------------- */

    /* Use larger spacing to separate paragraphs */
    --spacing-content-small         : .4em;
    --spacing-content-normal        : .8em;
    --spacing-content-large         : 1.8em;
    --spacing-center-pane           : 36px;

    --width-note-body               : 680px;
    --width-left-button-pane        : 50px;

    --height-top-bar                : 33px;

    /* Use a larger size for the frequently used buttons on the left */
    --size-left-pane-button         : 1.2em;
}

/*---------------------------------------------------------------*/
/* LAYOUT                                                        */
/*---------------------------------------------------------------*/

/* LAYOUT - Fonts */
body.desktop {
    color: var(--color-text-primary);
    line-height: 1.6em;
    font-family: var(--font-body);
}
body p {
    font-size: 1em;
    margin: var(--spacing-content-normal) 0;
    font-family: var(--font-body);
}

/* LAYOUT - Icons */
body .trilium-allure-icons {
    font-family: "trilium-allure-icons" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* LAYOUT - Scrollbar */
body ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}
body ::-webkit-scrollbar-track {
    background-color: unset;
    border: solid 4px transparent;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px 10px var(--color-button-accent);
    border: solid 4px transparent;
    background: unset;
}
body ::-webkit-scrollbar-thumb:hover {
    border: solid 2px transparent;
}

/* LAYOUT - Button */
body .icon-action {
    border: none;
    color: var(--color-text-primary);
}
body .icon-action:hover:not(.disabled) {
    background: var(--color-background-primary);
}
body .btn:not(.btn-primary) {
    border: var(--border-light);
    color: var(--color-text-primary);
}
body .btn.btn-primary {
    background: var(--color-background-item-active);
    border: none;
    padding: 8px 16px;
    color: var(--color-text-primary);
}
body .btn:not(:disabled):not(.disabled):active,
body .btn:not(:disabled):not(.disabled).active {
    background: var(--color-button-primary);
    border: var(--border-transparent);
}
body #left-pane .btn:not(.btn-primary) {
    color: var(--color-text-inconspicuous);
    border: var(--border-transparent);
}
body #left-pane .dropdown-item:hover:not(.disabled) button {
    color: inherit;
}
body .btn.focus,
body .btn:focus {
    box-shadow: unset !important;
}

/* LAYOUT - Note Icon */
body .note-icon-widget,
body .fancytree-custom-icon {
    display: none;
}

/* LAYOUT - Title Bar Button */
/*body .title-bar-buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    z-index: 999;
}
body .title-bar-buttons button {
    font-size: .9rem;
    background: var(--color-button-accent) !important;
    padding: 0 !important;
    border-radius: 12px;
    margin: 2px;
    color: var(--color-button-accent) !important;
}
body .title-bar-buttons button:hover {
    border: none !important;
    color: var(--color-text-primary) !important;
    background: var(--color-button-accent) !important;
}
body .title-bar-buttons button:before {
    font-family: 'trilium-allure-icons';
}
body .title-bar-buttons button.minimize-btn:before {
    content: '\e9c0';
}
body .title-bar-buttons button.maximize-btn:before {
    content: '\e9bc';
}
body .title-bar-buttons button.close-btn:before {
    content: '\e9bb';
}*/

/* LINK */
body a,
body a:visited,
body a:hover,
body .note-detail a,
body .modal-dialog a {
    color: var(--color-text-primary);
    text-decoration: none;
    word-break: break-all;
}
/* Hide the help link and the icon after a link */
body a:after {
    display: none;
}


/* GUTTER */
body .gutter.gutter-horizontal {
    background: var(--color-background-secondary);
}


/* WINDOWS BUTTON */
body .title-bar-buttons {
    line-height: 1;
}
body .title-bar-buttons div {
    width: unset;
    height: unset;
    margin: 12px 0 0;
}
body .title-bar-buttons div:last-of-type {
    margin-right: 12px;
}
body .title-bar-buttons div button.icon-action {
    background: var(--color-background-item-active) !important;
    border-radius: 20px;
    color: var(--color-background-item-active);
    height: 16px;
    width: 16px;
    font-size: .7em;
    padding: 2px;
}
body .title-bar-buttons div button.icon-action:hover {
    color: var(--color-text-item-active);
}

/* Alert */
body .alert {
    border: var(--border-light) !important;
    color: var(--color-text-primary) !important;
}

/* Textarea */
body textarea {
    background: var(--color-background-primary) !important;
    border: none;
    color: var(--color-text-primary) !important;
}




/*---------------------------------------------------------------*/
/* POPUP                                                         */
/*---------------------------------------------------------------*/

/* POPUP - Tooltip */
/*body .tooltip {
    top: 16px !important;
}*/
body .tooltip-inner {
    border: none;
    background: var(--color-background-secondary) !important;
    box-shadow: 0px 1px 6px -1px var(--color-background-accent);
    padding: 12px 16px;
}

/* Modal */
.modal-open .modal {
    background: var(--color-dialog-translucent);
}
body .modal-content {
    background: var(--color-background-secondary) !important;
    border: var(--border-light);
    color: var(--color-text-primary);
}

/* Modal - header */
body .modal-header {
    border-bottom: var(--border-light);
    padding: .6em 1em !important;
    background: var(--color-background-popup-header);
}
body #options-dialog .modal-header {
    border-bottom: none;
}
body .modal-header .close span {
    font-size: 0;
    text-shadow: unset;
}
body .modal-header .close:before {
    font-family: 'trilium-allure-icons';
    content: "\e652";
    color: var(--color-text-primary);
    font-weight: normal;
    text-shadow: unset;
}

/* Modal - body */
body #recent-changes-dialog .modal-dialog-scrollable .modal-body {
    overflow: auto;
}
body .form-control {
    color: var(--color-text-primary) !important;
    border: unset;
    background: var(--color-background-popup-header) !important;
}
body pre:not(.CodeMirror-line) {
    color: var(--color-text-primary) !important;
}
body .nav-tabs {
    border-bottom: unset;
    margin: -16px;
    padding: 10px 12px;
    background: var(--color-background-popup-header);
}
body .nav-tabs .nav-item.show .nav-link,
body .nav-tabs .nav-link.active {
    border: unset;
    background: var(--color-background-secondary) !important;
    color: var(--color-text-primary) !important;
}
body .nav-tabs .nav-link {
    border: none;
    width: 100%;
    white-space: nowrap;
    padding: 6px 16px;
    margin: 4px 0;
}
body .modal-body table td[colspan="4"] {
    background: var(--color-background-secondary) !important;
}

/* Modal - footer */
body .modal-footer {
    border-top: var(--border-light);
}

/* Note Revisions */
body .note-revisions-dialog .dropdown .note-revision-list {
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 10px 12px;
    background: var(--color-background-primary) !important;
}
body .note-revisions-dialog .dropdown .note-revision-list .dropdown-item {
    font-size: 14px;
    line-height: 1.2em;
    padding: 6px 12px;
    margin: 4px 0;
    border-radius: var(--border-radius-standard);
    border: none !important;
}
body .note-revisions-dialog .dropdown .note-revision-list .dropdown-item.active {
    background: var(--color-background-secondary) !important;
}
body .note-revision-title-buttons {
    font-size: 0;
}
body .note-revision-title-buttons button {
    border: none !important;
    padding: 2px 8px !important;
    margin: 0 4px;
    background: unset !important;
}
body .note-revision-title-buttons button:before {
    font-family: 'trilium-allure-icons';
    font-size: 1.2rem;
}
body .note-revision-title-buttons button:first-of-type:before {
    content: "\e6a6";
}
body .note-revision-title-buttons button:nth-of-type(2):before {
    content: "\e60d";
}
body .note-revision-title-buttons button:nth-of-type(3):before {
    content: "\e682";
}
body #note-revision-list {
    margin: -16px;
    border-radius: 0;
    border: none;
    background: var(--color-background-secondary) !important;
    height: calc(100% + 32px) !important;
}
body #note-revision-content-wrapper {
    padding-left: 16px;
}
body #note-revision-content {
    padding-right: 4px;
    margin: 12px -16px -16px 0;
}
body .note-revisions-dialog .note-revision-content-wrapper > div {
    padding: 10px 16px;
}
body .note-revisions-dialog .note-revision-content-wrapper .note-revision-title {
    font-size: 1.2em;
    line-height: inherit;
}
body .note-revisions-dialog .note-revision-content-wrapper {
    margin-left: 0;
    margin-top: 12px;
}

/* Recent changes */
body #recent-changes-dialog ul {
    padding-left: 0;
}
body #recent-changes-dialog li {
    font-size: 0;
}
body #recent-changes-dialog li span {
    font-size: initial;
    margin-left: 16px;
}

/* Dropdown menu */
body .dropdown-menu {
    background: var(--color-background-menu) !important;
    border: var(--border-light);
}
body .dropdown-item {
    color: var(--color-text-primary) !important;
    padding: .25rem 1.2rem;
}
body .dropdown-item .bx {
    vertical-align: middle;
    margin-right: -18px;
}
body .dropdown-menu a:hover:not(.disabled), .dropdown-item:hover:not(.disabled) {
    background: var(--color-button-accent) !important;
}
body .dropdown-item.active,
body .dropdown-menu a:hover:not(.disabled),
body .dropdown-item:hover:not(.disabled) {
    background: var(--color-button-accent) !important;
    color: var(--color-text-item-active) !important;
}
body .dropdown-divider {
    border: none;
    border-top: var(--border-light);
}
body #context-menu-container .dropdown-item {
    padding: 0px 8px;
}
body #context-menu-container,
body #context-menu-container .dropdown-menu {
    padding: 12px 0;
}
body #context-menu-container .dropdown-submenu .dropdown-menu {
    border: var(--border-standard);
    margin-left: -2px;
}
body .editability-dropdown .dropdown-item div {
    color: inherit;
    font-style: italic;
}
body .dropdown-item .check {
    margin-left: 4px;
}
body .dropdown-item .bx-info-circle:before {
    content: "\e64a";
}

/* Toast */
body .toast {
    background: var(--color-background-primary) !important;
    color: var(--color-text-primary) !important;
    border: var(--border-light);
}
body .toast-header {
    background: var(--color-background-accent) !important;
    color: var(--color-text-primary) !important;
}
body .toast .close {
    color: var(--color-text-primary);
    text-shadow: unset;
    font-weight: normal;
    margin: 0 !important;
}

/* Search in page */
/*body .find-box {
    background: var(--color-background-accent) !important;
}
body .find-input,
body .find-matches,
body .find-case {
    border: none !important;
body .find-box .find-back,
body .find-box .find-forward,
}*/
body .find-box {
    box-shadow: none !important;
    background: var(--color-background-accent) !important;
    border-radius: var(--border-radius-standard);
    top: 52px !important;
}
body .find-box .find-input {
    border: none !important;
}
body .find-input,
body .find-case,
body .find-close,
body .find-matches {
    color: var(--color-text-primary) !important;
    background: none !important;
}
body .find-close-inner1,
body .find-close-inner2 {
    background: var(--color-text-primary) !important;
}



/*---------------------------------------------------------------*/
/* LAUNCHER PANEL                                                */
/*---------------------------------------------------------------*/

body #launcher-pane {
    background: var(--color-background-secondary);
    margin: 8px 12px;
    border-radius: var(--border-radius-standard);
    width: 52px !important;
}
body #launcher-pane .icon-action:hover {
    background-color: var(--color-background-accent);
}

body #launcher-pane > .spacer {
    display: none;
}
body #launcher-pane > .spacer ~ .spacer {
    display: block;
}
body .right-dropdown-widget {
    width: 40px;
    height: 40px;
}

/* icon */
body #launcher-pane .icon-action {
    font-size: 1.2em;
    color: var(--color-text-primary);
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 2px 8px;
}
body #launcher-pane .bx {
    font-family: 'trilium-allure-icons' !important;
}
body #launcher-pane .button-widget.icon-action.bx.component.bx-chevrons-left,
body #launcher-pane .button-widget.icon-action.bx.component.bx-chevrons-right {
    margin-bottom: 8px;
}

/* hide button */
body #launcher-pane .bx-search,
body #launcher-pane .bx-send,
body #launcher-pane .bx-map-alt {
    display: none;
}

/* global menu */
body #launcher-pane .icon-action.global-menu-button {
    margin-top: 8px;
    background: unset;
}
body #launcher-pane .icon-action.global-menu-button:hover {
    background: var(--color-background-accent);
}
body #launcher-pane .icon-action.global-menu-button:before {
    content: "\e668";
    font-family: 'trilium-allure-icons';
    font-size: 1.2em;
}
body .global-menu {
    height: 48px;
}
body .global-menu .dropdown-menu {
    min-width: 21em;
}
body .global-menu-button-update-available {
    right: -20px;
    bottom: -20px;
}
body .global-menu .dropdown-menu .bx {
    line-height: 1.2em;
    vertical-align: middle;
    margin-right: 4px;
}

/* calander */
body #launcher-pane .button-widget.bx-calendar:before {
    content: "\e647";
}

/* sync button */
body #launcher-pane .sync-status-widget.icon-action {
    margin-bottom: 28px;
}
body #launcher-pane .sync-status-widget.icon-action:after {
    width: 100%;
    height: 1px;
    background: var(--color-background-accent);
    content: " ";
    display: block;
    margin-top: 16px;
}
body #launcher-pane .bxs-star.sync-status-sub-icon {
    display: none;
}
body .sync-status .sync-status-icon {
    top: unset;
}
body .sync-status-icon:not(.sync-status-in-progress):hover {
    background: inherit;
}
body .sync-status-icon.sync-status-connected-no-changes.bx-wifi {
    top: -1px;
}



body #root-widget {
    background: var(--color-background-primary);
}





/*---------------------------------------------------------------*/
/* LEFT PANEL                                                    */
/*---------------------------------------------------------------*/

body #left-pane {
    color: var(--color-text-primary);
    background: var(--color-background-primary);
}
body .ui-fancytree > li > ul {
    padding-left: 0;
}
body .fancytree-active,
body .fancytree-active.fancytree-selected,
body .fancytree-node,
body .tree .fancytree-node:hover {
    border: none;
    border-radius: var(--border-radius-standard) !important;
}
body .fancytree-container .fancytree-active,
body .fancytree-container .fancytree-active.fancytree-selected {
    background: var(--color-background-secondary) !important;
    color: var(--color-text-primary) !important;
}
body .tree .fancytree-node:hover {
    background: var(--color-button-accent);
    color: var(--color-text-item-active);
}


/* search bar */
body #left-pane input {
    color: var(--color-text-primary) !important;
    box-shadow: none;
    text-align: center;
    background: transparent !important;
    border: var(--border-dashed);
    border-radius: var(--border-radius-standard);
}
body #left-pane input:focus {
    border: none;
    background: var(--color-background-secondary) !important;
}
body #left-pane .search-button {
    display: none;
}
body #left-pane input::placeholder {
    font-size: 14px;
    color: var(--color-text-secondary);
}

/* icon */
body .fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    font-size: inherit;
}

body .tree-item-button,
body .fancytree-node:hover .bx.tree-item-button {
    display: none;
}


/* NOTE LIST */

body .tree {
    padding-right: 12px;
}
body .fancytree-node {
    padding: 2px 12px;
    line-height: 2em;
    height: unset;
    margin: 0;
    font-size: 14px;
}

/* title */
body .fancytree-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2px;
    font-family: var(--font-body);
}
body .fancytree-active .fancytree-title {
    font-weight: normal;
}

/* expander */
body .fancytree-node:not(.fancytree-loading) .fancytree-expander {
    line-height: 1ex;
    vertical-align: middle;
}
body .fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    content: "\e622";
    font-family: "trilium-allure-icons" !important;
    font-size: .8em;
    top: 0;
}
body .fancytree-node.fancytree-expanded .fancytree-expander:before {
    content: "\e616";
    font-family: "trilium-allure-icons" !important;
    font-size: .8em;
    line-height: 1ex;
    vertical-align: middle;
}

/* tree button */
body button.tree-floating-button {
    display: none;
}





/*---------------------------------------------------------------*/
/* RIGHT PANEL                                                   */
/*---------------------------------------------------------------*/

body #rest-pane {
    background: var(--color-background-secondary);
}

body #rest-pane > .component:first-child {
    height: 50px !important;
}
body #rest-pane > .component:first-child .bx,
body #rest-pane > .component:first-child *:before {
    font-family: 'trilium-allure-icons' !important;
}

/* Tabs */
body .tab-row-widget .tab-row-widget-container {
    background: var(--color-background-secondary);
}
body .tab-row-widget .note-tab .note-tab-title {
    font-size: .9em;
    align-self: center;
    text-overflow: ellipsis;
}
body .tab-row-widget .note-tab .note-tab-wrapper {
    border-radius: var(--border-radius-standard);
    height: 32px;
    background: var(--color-background-primary);
    color: var(--color-text-secondary);
    margin-top: 10px;
}
body .tab-row-widget .note-tab .note-tab-wrapper:first-of-type {
    margin-left: 5px;
}
body .tab-row-widget .note-tab:hover .note-tab-wrapper {
    background: var(--color-background-item-active);
    color: var(--color-text-item-active);
}
body .tab-row-widget .note-tab[active] .note-tab-wrapper {
    font-weight: normal;
    background: var(--color-background-accent);
    color: var(--color-text-primary);
}
/* Tabs - note tab close button */
body .tab-row-widget .note-tab .note-tab-close span {
    display: none;
}
body .tab-row-widget .note-tab .note-tab-close {
    width: unset;
    border-radius: unset;
    align-self: center;
    padding: 4px 6px;
    margin-right: -4px;
}
body .tab-row-widget .note-tab .note-tab-close:hover {
    color: var(--color-text-primary);
    background: inherit;
}
body .note-tab-close:before {
    content: "\e652";
    font-size: 12px;
}
/* new tab button */
body .note-new-tab {
    width: 32px;
    height: 32px;
    font-size: 0;
    line-height: 32px;
    margin-left: 4px;
    color: var(--color-text-primary);
    margin-top: 10px;
}
body .note-new-tab:before {
    content: "\ebc0";
    font-size: 18px;
}
body .note-new-tab:hover {
    background: var(--color-background-item);
}

/* Note Details */
body .note-detail,
body .note-list-widget {
    margin: auto;
    max-width: var(--width-note-body);
    margin-bottom: 68px;
}
body .note-detail {
    padding-bottom: 12px;
}
body .CodeMirror {
    color: var(--color-text-primary);
}
body .CodeMirror-scroll {
    background: var(--color-background-translucent);
}
body #confirm-dialog-content,
body .note-detail-readonly-text,
body .note-detail-relation-map,
body .note-detail-editable-text,
body .note-detail-readonly-code-content,
body .note-detail-readonly-code {
    font-family: var(--font-body);
    padding: 0;
    min-height: 0;
}
body .ck.ck-editor__editable_inline {
    overflow: usnet;
}

/* Note Details - code editor */
body .CodeMirror-linenumber {
    padding: 4px 8px 0 0;
}
body .CodeMirror-wrap pre.CodeMirror-line,
body .CodeMirror-wrap pre.CodeMirror-line-like {
    padding: 4px 12px;
}
body .cm-matchhighlight {
    background: var(--color-background-accent);
}
body .cm-s-default .cm-def {
    color: var(--code-blue);
}
body .cm-s-default .cm-string {
    color: var(--code-pink);
}
body .cm-s-default .cm-error {
    color: var(--code-red);
}
body .cm-s-default .cm-atom {
    color: var(--code-blue-dark);
}
body .cm-s-default .cm-tag {
    color: var(--code-green);
}
body .cm-s-default .cm-variable-2 {
    color: var(--code-orange);
}
body .cm-s-default .cm-qualifier {
    color: var(--code-gray);
}
body .cm-s-default .cm-keyword {
    color: var(--code-purple);
}
body .cm-s-default .cm-variable-3,
body .cm-s-default .cm-type,
body .cm-s-default .cm-number {
    color: var(--code-green-dark);
}
body .cm-s-default .cm-builtin {
    color: var(--code-purple-dark);
}

/* Note Details - title */
body .title-row {
    margin: 32px 0 16px;
    line-height: 4em;
}
body .title-row .note-title-widget {
    margin: auto;
    max-width: calc(var(--width-note-body) + 66px);
}
body .title-row .spacer {
    display: none;
}
body .title-row .note-title-widget .note-title {
    padding: 6px 12px;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--color-text-primary) !important;
    font-family: var(--font-headers);
    line-height: 1.4em;
}
body .title-row .note-title-widget .note-title:focus-visible {
    outline: none;
    background: var(--color-background-accent) !important;
}

/* Note details - close button */
span.button-widget.icon-action.bx.component.bx-x {
    height: unset;
    width: unset;
    display: inline-table;
    margin-top: 16px;
}

/* Note Details - operation bar */
body #center-pane {
    transform: scale3d(1, 1, 1);
}
body .ribbon-button-container > * {
    top: 0;
}
body .ribbon-tab-title .bx,
body .ribbon-button-container .icon-action {
    font-size: 1.2em;
    color: var(--color-text-primary);
    padding: 2px;
}
body .ribbon-button-container .icon-action.bx-history,
body .ribbon-button-container .icon-action.bx-edit-alt {
    padding: 8px;
    margin: 0 4px;
    display: inline-block !important;
}
body .ribbon-button-container .note-actions,
body .ribbon-button-container .icon-action.bx-history {
    margin: 0 4px;
}
body .ribbon-tab-spacer {
    display: none;
}

/* Note Details - operation bar - hide button */
body .ribbon-tab-title[data-ribbon-component-name="similarNotes"],
body .ribbon-tab-title[data-ribbon-component-name="notePaths"],
body .ribbon-tab-spacer:nth-of-type(8),
body .ribbon-tab-spacer:nth-of-type(12) {
    display: none;
}

/* Note Details - operation bar - hide border */
body .ribbon-tab-title,
body .ribbon-tab-spacer,
body .ribbon-button-container {
    border: none;
}

body .ribbon-tab-title {
    padding: 1px 5px 3px 5px !important;
    box-sizing: border-box;
    border-top: 2px solid transparent;
    margin: 0 4px;
}
body .ribbon-tab-title:hover {
    color: var(--main-text-color);
    background: var(--color-background-primary);
}

body .ribbon-tab-container {
    justify-content: left;
    margin-left: 0;
}
body .image-properties > div {
    margin: 0 !important;
    padding: 8px 12px;
}

body .file-properties-widget {
    padding: 8px 12px;
}
body .file-table {
    margin-top: 0;
}

/* slider */
body .bookmark-switch .slider,
body .protected-note-switch .slider {
    background: var(--color-background-item-active);
}
body .bookmark-switch .slider:before,
body .protected-note-switch .slider:before {
    background: var(--color-background-primary);
}
body .bookmark-switch .slider.checked {
    background: var(--color-background-highlight);
}
body .switch-widget .slider {
    background: var(--color-background-accent);
}
body .switch-widget .slider:before {
    background: var(--color-background-primary);
}

/* Note Details - operation bar */
/*     - hide note id           */
/*     - hide note type         */
body .note-info-widget-table tr > th:first-of-type,
body .note-info-widget-table tr > td:first-of-type {
    display: none;
}

/* Note Details - operation bar                */
/*     - hide map link type switcher button    */
/*     - hide attrs' title when it is activing */
body .map-type-switcher,
body .ribbon-tab-title.active .ribbon-tab-title-label {
    display: none;
}

/* split note button */
body .title-row .bx-dock-right {
    position: fixed;
    bottom: 0;
    z-index: 10;
    font-size: 1.3em;
    padding: 7px;
}
body .title-row .bx-dock-right:before {
    font-family: 'trilium-allure-icons';
    content: "\e657";
}

/* actived ribbon tab */
body .ribbon-tab-title.active {
    border-bottom: none;
    /*border-top: var(--border-option-active);*/
    background: var(--color-background-primary);
}
/*body .ribbon-tab-title.active .ribbon-tab-title-icon {
    color: var(--color-text-highlight);
}*/
body .ribbon-body {
    margin-left: 0;
}
body .ribbon-body.active {
    /*position: absolute;*/
    background: var(--color-background-primary);
    border: none;
    border-radius: unset;
    /*box-shadow: 3px 6px 12px #d7d7d760;*/
    /*margin-top: 12px;*/
    z-index: 9;
}
body .attribute-list {
    margin-top: 0;
}
body .bx-plus:before {
    font-size: .8em;
}


/* table of content */
body #right-pane {
    padding-right: 8px;
}
body #right-pane .card-header {
    border-radius: 0;
}
body .toc-widget {
    padding: 8px 0;
}
body .toc-widget .toc > ol {
    padding-left: 24px;
}
body .toc-widget .toc li {
    font-size: .8em;
    line-height: 1.6em;
    margin-bottom: 8px;
}

/* share note */
body .shared-info-widget {
    font-weight: normal;
    font-size: .9em;
    line-height: 1.6em;
    border: none !important;
    background: var(--color-background-primary) !important;
    margin: 16px 0px;
    padding: 10px 16px;
}
body .shared-info-widget .shared-link:hover {
    color: var(--color-text-highlight);
}


body .ribbon-container {
    position: fixed;
    bottom: 0;
    background: var(--color-background-secondary);
    padding: 4px 24px 4px 42px;
    margin: 0;
    z-index: 9;
    width: 100%;
}
body .ribbon-top-row {
    width: fit-content;
}

body .ribbon-container .bx {
    font-family: 'trilium-allure-icons' !important;
}

/* link map dialog */
body .bx-arrow-to-bottom,
body .bx-arrow-to-top {
    font-size: 1em;
    color: var(--color-text-primary);
}

/*body .bx-arrow-to-bottom:before {
    content: "\e64e";
}
body .bx-arrow-to-top:before {
    content: "\e607";
}*/

/* note body */
/*body .ribbon-container,
body .title-row,
body .split-note-container-widget > .component > .component {
    max-width: var(--width-note-body);
}*/
body .split-note-container-widget > .component {
    overflow: auto;
    margin-bottom: 43px;
    padding: 0 36px;
}

/* table */
body table td,
body table th {
    color: var(--color-text-primary);
}
body .ck-content .table table {
    background: inherit !important;
    border: var(--border-accent);
}
body .ck-content .table table td,
body .ck-content .table table th {
    padding: 8px 12px !important;
    height: unset !important;
    border-color: var(--color-button-accent) !important;
}

/* hr */
body .ck-content hr {
    margin: 48px 64px;
    height: 1px;
    background: var(--color-background-accent);
}


/* blockquote */
body .ck-content blockquote {
    border: none;
    background: var(--color-background-primary);
    padding: 1.2em 1.6em;
    font-style: normal;
    border-radius: var(--border-radius-standard);
    font-size: 14px;
}

/* include note */

/*body .include-note {
    display: block;
    border-radius: var(--border-radius-standard);
    background-color: inherit;
    border: var(--border-light);
    padding: 0;
    box-shadow: var(--shadow-card);
    padding-bottom: 16px;
}*/
/* include note title */
/*body .include-note .include-note-title {
    padding: 16px 20px;
    margin: 0;
    font-weight: bold;
}*/
/* include note body */
/*body .include-note .include-note-content {
    overflow: hidden;
    padding: 16px 20px;
    max-height: 10em;
}*/

/*--------------------------------------------------------*/
body .include-note {
    border-radius: var(--border-radius-standard);
    border: var(--border-light);
    background: var(--color-background-item);
    box-shadow: var(--shadow-card);
    padding: 0;
    margin: 20px 0;
    display: block;
}
body #note-revision-content .include-note:after {
    content: "(include note)";
    font-style: italic;
    padding-left: 12px;
    line-height: 2em;
    color: var(--color-text-secondary);
}
body .ck-content .include-note-title {
    font-size: 1.1rem;
    margin-bottom: 0;
    padding: 16px;
    font-family: var(--font-headers);
    font-weight: bold;
}
body .ck-content .include-note-title a {
    border-bottom: none;
}
body .ck-content a,
body .ck-content a *,
body .shared-info-widget a,
body .page-url {
    border-bottom: var(--border-dashed);
}
body .ck-content a:hover,
body .ck-content a *:hover {
    color: var(--color-text-highlight);
    border-color: var(--color-text-highlight);
}
body .ck-content a:after,
body .ck-content a *:after {
    font-size: smaller;
    content: none;
    vertical-align: top;
}
body .ck-content .include-note-title a {
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
body h4.include-note-title a:before {
    content: "\e659";
    font-family: trilium-allure-icons;
    margin-right: 8px;
    font-weight: normal;
}
body section.include-note img {
    display: none;
}
body section.include-note .image:after {
    display: block;
    content: '[img]';
    font-size: 1rem;
}
body .ck-content .image > figcaption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px 16px 8px;
    text-align: center;
    color: var(--color-text-secondary) !important;
    margin-top: 6px;
    background-color: unset !important;
    /*padding: 0;*/
    display: block;
}
body section[data-box-size=small].include-note > div:nth-of-type(1) > div {
    overflow: hidden;
    margin: 0 16px 16px;
}
body section[data-box-size=medium].include-note > div:nth-of-type(1) > div {
    height: 12rem;
    overflow: hidden;
    margin: 0 16px 16px;
}
body section[data-box-size=medium].include-note img {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}
body section[data-box-size=full].include-note > div:nth-of-type(1) > div {
    overflow: hidden;
    margin: 0 16px 16px;
}
body section:not([data-box-size=full]).include-note div.ck-content *:not(.image):not(img) {
    font-weight: normal !important;
    display: inline !important;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    margin: unset !important;
    padding: unset !important;
    font-size: 1rem !important;
    color: var(--color-text-primary) !important;
    white-space: initial !important;
    line-height: 1.6rem;
}
body section.include-note div.include-note-content.type-text br {
    display: none;
}
/*------------------------------------------------------*/




/* rendered note */
body .note-book-card {
    border-radius: 3px;
    background: var(--color-background-secondary);
    padding: 16px 20px;
}
body .note-book-card .note-book-card {
    border: var(--border-light);
}
body .note-list-widget .note-list {
    padding: 0;
}
body .note-list-widget .note-list img {
    display: none;
}
body .note-list.grid-view .note-book-card {
    /*border: var(--border-light);*/
    background: var(--color-background-primary);
    max-height: 140px;
    flex: unset;
    width: 100%;
    margin: 6px 0;
    padding: 12px 16px;
    font-size: 14px;
}
/*body .note-list.grid-view .note-book-card:not(:first-of-type) {
    border-top: var(--border-light);
}*/
body h5.note-book-header {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 0;
}
body .note-list-container .note-icon,
body .note-list-container .rendered-note-attributes {
    display: none !important;
}
body .note-list.grid-view .note-book-card:hover {
    border: var(--border-light);
    background: inherit;
}
body .note-list-container p {
    margin: 0;
}
body .note-book-card.expanded .note-book-content {
    padding-top: 0;
    line-height: 1.2em;
}
body .rendered-note-content > *:first-child {
    margin-top: 6px;
}
body .rendered-note-content > * {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin: 0;
}
body .rendered-note-content > span,
body .rendered-note-content > br {
    display: none;
}
body .rendered-note-content {
    padding: 0 !important;
}
body .rendered-note-content pre {
    white-space: inherit;
}
/*body .note-list-widget {
    margin-top: 68px;
    background: var(--color-background-primary);
}*/
body .note-list-widget:before {
    content: " ";
    height: 1px;
    background: var(--color-background-primary);
    margin: 0 42px 24px;
    display: block;
}
body .rendered-note-content .ck-content * {
    margin: 0 !important;
    font-size: 14px;
    border: none;
    display: inline;
    padding: 0;
    background: inherit;
    font-family: var(--font-body);
    font-weight: normal;
    color: inherit;
}
/*body .note-book-header .rendered-note-attributes {
    display: block;
    font-size: small;
    position: absolute;
    bottom: 8px;
    background: var(--color-background-primary);
    padding: 8px 16px;
    left: 10px;
    border: var(--border-light);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: calc(100% - 25px);
}
body .note-book-header .rendered-note-attributes:before {
    content: none;
}*/


/* code */
body .ck-content p code {
    padding: 4px 8px;
    margin: auto 6px;
    background: var(--color-background-item);
}
body .ck-content code {
    font-size: .8em;
    border-radius: var(--border-radius-standard);
}
body .ck-content pre:not(.CodeMirror-line) {
    color: var(--color-text-primary) !important;
    background: var(--color-background-primary);
    border: none;
    border-radius: var(--border-radius-standard);
    margin: 1.6em 0;
}

/* Make the title scrollable */
body #center-pane .split-note-container-widget > .type-text,
body #center-pane .split-note-container-widget > .type-file,
body #center-pane .split-note-container-widget > .type-code {
    overflow: auto;
    padding: 0 48px;
    margin-bottom: 43px;
}
body #center-pane .split-note-container-widget > div > div {
    overflow: unset !important;
}


/*body #center-pane > .component:first-of-type > .component:last-of-type > * {
    max-width: var(--width-note-body);
    margin: 12px auto;
    overflow: hidden;
    contain: content;
}*/
/*body .split-note-container-widget > .component:last-of-type {
    display: block !important;
    overflow: auto;
}*/


/* HEADING */

body .ck-content h2,
body .ck-content h3,
body .ck-content h4:not(.include-note-title),
body .ck-content h5:not(.modal-title):not(.note-book-header),
body .ck-content h6 {
    color: var(--color-text-accent);
    font-family: var(--font-headers);
    font-weight: bold;
}
body .note-detail h2::before,
body .note-detail h4::before,
body .note-detail h5::before,
body .note-detail h6::before {
    content: '' !important;
}

/*body #confirm-dialog-content,
body .note-detail-readonly-text,
body .note-detail-relation-map,
body .note-detail-editable-text,
body .note-detail-read-only-code-content,
body .note-detail-read-only-code {
    font-family: var(--font-body);
    padding-left: 0;
}*/

/* h1 */
/*body .ck-content h1 {
    display: table;
    font-family: var(--font-headers);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 1rem;
}*/

/* h2 */
body .ck-content h2 {
    font-size: 1.4em;
    margin-top: 2.4em;
    margin-bottom: 1.2em;
    border-bottom: var(--border-light);
    padding-bottom: 12px;
}
/*body .ck-content h2:after,
body.mobile .ck-content h2:after {
    content: '';
    display: block;
    width: 30px;
    margin-top: 10px;
    border-radius: 5px;
}*/

/* h3, h4, h5, h6 following directly after h2, h3, h4, h5 */
body .ck-content h2 + h3,
body .ck-content h3 + h4,
body .ck-content h4 + h5,
body .ck-content h5 + h6 {
    margin-top: var(--spacing-content-normal);
}

/* h3 */
body .ck-content h3 {
    font-size: 1.4em;
    margin-bottom: 1.4rem;
    margin-top: 3.0rem;
}
body .note-detail h3::before {
    content: ' ' !important;
    height: 6px;
    width: 6px;
    background: var(--color-background-highlight);
    display: inline-block;
    margin-left: -18px;
    margin-right: 12px;
    line-height: 1ex;
    vertical-align: middle;
    border-radius: 50%;
}

/* h4, h5, h6 */
body .ck-content h4:not(.include-note-title),
body .ck-content h5:not(.modal-title):not(.note-book-header),
body .ck-content h6 {
    font-size: 1.2em;
    margin-bottom: 1.2rem;
    margin-top: 2.6rem;
}


/* open a new note by searching */
body .note-detail .input-group {
    background: var(--color-background-primary);
    padding-right: 8px;
    border-radius: var(--border-radius-standard);
}
body .input-group input,
body .input-group .input-group-append a {
    border: none;
    background: var(--color-background-primary) !important;
    color: var(--color-text-primary) !important;
}
body .form-control:focus {
    box-shadow: unset;
}
body .input-group input:focus {
    border-bottom: none;
    box-shadow: 4px 6px 12px var(--color-background-accent);
    border-bottom-left-radius: 0;
}
body .algolia-autocomplete .aa-dropdown-menu {
    border: var(--border-standard);
    border-top: none;
    background: var(--color-background-primary);
    padding: 4px 8px;
    box-shadow: 4px 6px 12px var(--color-background-accent);
}
body .algolia-autocomplete .aa-dropdown-menu .aa-suggestion,
body .input-group-text.input-clearer-button.bx.bx-x,
body .input-group-text.show-recent-notes-button.bx.bx-time {
    padding: 8px 4px;
}
body .bx-time:before {
    content: "\e672";
    font-family: 'trilium-allure-icons';
    font-size: .9em;
}

/* Note Details - others */
body .note-detail .ck-content p {
    line-height: 1.4em;
    margin: .4em 0;
}
body .note-detail .ck-content p:last-child {
    margin-bottom: 0;
}
body .note-detail .ck-content p:first-child {
    margin-top: 0;
}

/* set overflow */
body .split-note-container-widget > .component > .component:nth-of-type(4),
body .split-note-container-widget > .component > .component:nth-of-type(5),
body .split-note-container-widget > .component > .component:nth-of-type(6),
body .split-note-container-widget > .component > .component:nth-of-type(7) {
    overflow: visible !important;
}
